.showhome-n-details-left {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.showhome-n-details-right {
  width: 39%;
  display: inline-block;
  vertical-align: top;
}

.showhome-n-details .showhome-n-details-left .sec-1 h2 {
  font-size: 5.22vw;
  margin: auto;
}

.showhome-n-details .showhome-n-details-left .sec-1 strong.title {
  font-size: 2.22vw;
}

.showhome-n-details .showhome-n-details-left .sec-2 {
  margin-top: 40px;
}

.showhome-n-details .showhome-n-details-left .sec-2 .col-1 {
  padding-left: 40px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.showhome-n-details .showhome-n-details-left .sec-2 .col-2 {
  padding-left: 10px;
  width: 69%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.showhome-n-details .showhome-n-details-left .sec-2 .col-1 .seperator {
  width: 1px;
  height: 100px;
  background-color: #555;
  position: absolute;
  top: 10px;
  right: 1px;
}

.plan-images img {
  width: 350px;
  border: 1px solid #999;
  display: inline-block;
  vertical-align: top;
}

.floor-plan-title {
  font-size: 2.22vw;
  text-align: center;
  margin: auto;
}

.floor-plan-subtitle {
  font-size: 1.22vw;
  text-align: center;
  margin: auto;
}

.slick-slide div {
  text-align: center;
}

.builder-logo svg {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .showhome-n-details .featured-image {
    width: 100%;
  }

  .showhome-n-details .showhome-n-details-left {
    margin-top: 10px;
    width: 100%;
  }

  .showhome-n-details .showhome-n-details-left .sec-1 {
    padding: 10px;
  }

  .price {
    font-size: 6.22vw;
  }

  .showhome-n-details .showhome-n-details .sec-2 .col-1 {
    padding-left: 20px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .showhome-n-details .showhome-n-details .sec-2 .col-2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .visit-show-homes {
    font-size: 4.52vw;
  }
}
