.sticky-tab {
  position: fixed;
  right: 0;
  z-index: 500;
  bottom: 1em;
  font-family: $heading-font-family;
  background: $green;
  font-size: 0.8em;
  text-align: center;
  line-height: 1;
  max-width: 4em;

  @include breakpoint($tablet) {
    bottom: auto;
    top: 0;
    z-index: 1500;
    max-width: none;
    font-size: 1.2em;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
  }

  a {
    padding: 0.75em;
    display: block;

    @include breakpoint($tablet) {
      padding: 0.75em 1.5em 0.5em;
    }
  }
}
