$white: #fff;
$blue: #c8e9ef;
$dark-blue: #4c5161;
$green: #d6ebd0;
$dark-green: #050;
$red: #fcd3c9;
$alert-red: #db6d52;
$yellow: #f8f7ec;
$dark-gray: #4f5568;
$dark-pink:#a0a;
$medium-gray: #999;
$light-gray: #ddd;
$purple: #723e61;
$grey-85: #d9d9d9;
$grey-13: #231f20;
$grey-96: #f6f6f6;
$brookfield-blue: #454c5d;
$light-brookfield-blue: #b3bbdc;

$action-color: $dark-blue;
$base-font-color: $dark-gray;

$lot-sold-color: $grey-85;
$lot-available-color: $dark-gray;
$lot-quick-possession-color: $dark-pink;
$lot-showhomes-color: $purple;
$lot-coming-soon-color: $dark-green;

$alternate-section-bg-color: $grey-96;
