/** Hamburger icon */
$hamburger-padding-x: $small-spacing;
$hamburger-padding-y: $base-spacing;
$hamburger-layer-width: 1.5em;
$hamburger-layer-height: 0.2em;
$hamburger-layer-spacing: 0.3em;
$hamburger-layer-color: $base-font-color;
$hamburger-types: (spin);
