$base-line-height: 1.9;
$heading-line-height: 1.2;
$base-font-size: 16px;
$base-large-font-size: 18px;
$base-small-font-size: 15px;
$base-font-family: "como", sans-serif;
$heading-font-family: "bebas-neue", $base-font-family;
