$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);

form {
  @include additional-large-margins();

  text-align: left;

  fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    font-weight: 600;
    padding: 0;
  }

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.1em;

    &.hs-form-checkbox-display {
      font-weight: normal;
    }
  }

  input,
  select,
  textarea {
    display: block;
    font-family: $base-font-family;
    font-size: 16px;
    margin-bottom: 0;
  }

  #{$all-text-inputs} {
    appearance: none;
    border-radius: 0;
    background-color: $_form-background-color;
    border: $base-border;
    box-shadow: $_form-box-shadow;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: shade($_form-background-color, 5%);
      cursor: not-allowed;

      &:hover {
        border: $base-border;
      }
    }

    &::placeholder {
      color: tint($base-font-color, 40%);
    }
  }

  textarea {
    resize: vertical;
    height: 8rem;
  }

  [type="submit"] {
    @include button();

    width: 100%;
  }

  [type="checkbox"],
  [type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
  }

  [type="file"] {
    width: 100%;
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    background-color: $_form-background-color;
    border: $base-border;
    border-radius: 0;
    box-shadow: $_form-box-shadow;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: $base-spacing / 3;
    background-image: url(../images/dropdown.png);
    background-size: 30px 30px;
    background-position: right center;
    background-repeat: no-repeat;
    // padding: 0.5em 3em 0.5em 1em;
  }

  .hs-error-msgs {
    label {
      color: $alert-red;
      font-size: 0.8em;
      font-weight: 600;
    }
  }

  .hs-form-required {
    color: $alert-red;
  }

  .hs-form-field,
  .hs-rich-text {
    margin-bottom: $base-spacing;
  }

  ul.inputs-list {
    [type="checkbox"],
    [type="radio"] {
      font-size: 0.8em;
    }
  }

  p {
    font-size: 0.8em;
  }
}
